*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.bi-cart4, .bi-trash3{
    cursor: pointer;
}